@import url(./navigationMobile.css);
@import url(./navigationDesktop.css);

@font-face {
   font-family: 'Tengoku';
   src: url('../assets/tengoku/Tengoku.ttf') format('truetype');
   font-display: swap;
}


*, *::before, *::after {
   box-sizing: border-box;
}


body {
   background-color: #1c1c1a;
   color: white;
   font-family: 'Tengoku', monospace;
}


main {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   margin: auto;
}


.invisible {
   display: none;
}
